autocomplete {
    display: inline-block;
    position: relative;
}

.autocomplete__input {
    display: inline-block;
    width: 100%;
    padding: .5rem .6rem;
    font: inherit;
    text-align: left;
    border: 1px solid #bbb;
    outline: none;
    background: #fff;
    transition: border-color .3s;
    box-sizing: border-box;
}

.autocomplete__input:focus {
    border-color: #2b2b2b;
}

.autocomplete__list {
    display: none;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    border: 1px solid #2b2b2b;
    background: #fff;
    z-index: 1;
    box-sizing: border-box;
}

.autocomplete__list_visible {
    display: block;
}

.autocomplete__item {
    padding: .4em;
    text-align: left;
    cursor: pointer;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.autocomplete__item_empty-state {
    cursor: default;
    background: none !important;
}

.autocomplete__item_empty-state .autocomplete__item_highlight {
    background: none;
}

.autocomplete__item_active {
    background: #e6e6e6;
}

.autocomplete__item_highlight {
    background: #ff0;
}